@import url(https://source.kizuna.zip/cdn/fonts/css/LINESeedSansTH.css);

* {
  font-family: "LINESeedSansTH", "sans-serif";
  transition: all 0.3s;
}

body {
  padding: 0;
  margin: 0;

  background: #2e2f2f;
  color: whitesmoke;
}

.container {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}